@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

.navbar {
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

    /* the rest of your styling */
}
h1, h2, h5{
    font-family: 'Patua One', sans-serif;
}
h6{
    font-family:'Lato', sans-serif;
    font-size:25px;
}
.bg-light{
    background-color:#fff !important;
}
.btn{
    font-family:'Oswald', sans-serif;
}
.emphasis {

    color: #ff9600;

}
p {font-size:16px;}
.btn-group-lg>.btn, .btn-lg {
    padding: .2rem 1.5rem;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight:600;
    border-radius: 1.5rem;
}
.btn-success {
    color: #fff;
    background-color: #01aa01;
    border-color: #01aa01;
}
.colnopad{
    padding-left:0;
    padding-right:0;
    margin-right:0;
    margin-left:0
}
.header{
    background: #f8f8f7;
    padding:3em 0;
}
.header h1{
    font-family:'Patua One';
    font-size:6em;
    text-align: center;
    color:#000;
}
.header h3{
    font-family:'Patua One', sans-serif;
    color:#01aa01;
    font-size:2em;
    padding:.5em 0;
}
.header ul{
    margin:2em 0 2.1em 2.1em;
    padding:.2em 0;
}
.header li{
    padding:.4em 0;
}
.header h5 i{
    text-decoration: underline;
}
.wistia_embed{
    cursor:pointer;
}
.fa-li{
    color:#fdaa45;font-size:2em;margin-top:-5px;
}
.top1 {

    background: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;

}
.top2 {

    background: #dfe4d4;
    color: #000;
    font-family: "Lato", sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;

}

.padme{
    height:4em;
    display: block;
}
.alternatebg{
    background: #f8f8f7;
}
.alternatebg h3{
    font-family: 'Patua One', sans-serif;
}
.grnbg{
    background-image: url('../images/grnbg.jpg');
    background-size: cover;
    color:#fff;
}
.grnbg p{
    color:#dcfab5;
}
.grnbg h4{
    font-family: 'Patua One', sans-serif
}
.grnbg .btn-warning{
    font-family:'Patua One', sans-serif;
    color:#fff;
    font-size:25px;
    background: #f79926;
    border-radius:40px;
    padding:10px 40px;
    box-shadow: 3px 3px 4px #333;
}
.grnbg .btn-warning:hover{
    background: #f38705;
    box-shadow: none;
}

.product-bg{
    min-height:547px;
    background-image: url('https://s3.amazonaws.com/cdn.offerspace.com/conceptweb/cbdhs/herbalistoils-clean/chs-product.png');
    background-position: bottom -50px center;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: visible;
    width: 100%;
    max-width: 100%;
}

.bottomme{
    position: static;
    bottom:-50px;
}
.featuresHeadingLeft h3{
    font-family: 'Lato',sans-serif;
}
.featuresHeadingLeft h4{
    font-family: 'Lato', sans-serif;
    font-weight:700;
}
.featuresHeadingRight{
    border-left:4px solid #fdaa45;
    padding-left:5%
}
.featuresHeadingRight h1{
    font-size:1.9em;
}
.featuresHeadingRight p{
    font-family:'Lato', sans-serif;
    font-size: 18px;
}
.fa-li2{
    color:#fff;font-size:1.5em;background-color: #00b100;
    border-radius: 2em;
    padding:10px;
}
.features li{
    font-size:24px;
    padding-left:20px;
}
.features li p{
    font-size:16px;
    font-family:'Lato', sans-serif;
    padding-top:15px;
}
.model{ 
    background: url('https://s3.amazonaws.com/cdn.offerspace.com/conceptweb/cbdhs/cghs-gr-h/woman1.jpg') no-repeat;
    background-position: bottom left;

}
.grul li i{
    color:#00b100;
}

.fbbox{
    background: #fff;
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 5px;
}
.fbboxInner{
    padding:5%;
}
.subrecent{
    font-size:.8em
}

.heartbeat {
  animation: 5s infinite beatHeart;
}
.media {
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid #E2E2E2;
}
.media-left img {

    margin-top: 6px;
    border-radius: 30px;
    margin-right: 20px;

}
.media-body h4 a {

    font-family: arial, sans-serif;
    font-size: 13px;
    color: #3B5998;
    margin: 0 0 5px 0;
    line-height: 14px;
    font-weight: bold;

}
.media-body p {

    font-family: arial, sans-serif;
    font-size: 12px;
    color: #1A1A1A;
    line-height: 15px;
    margin: 0 0 5px 0;

}
.media-body p.bottom {

    color: #3B5998;

}
.media-body p.bottom .time {

    color: #808080;
    border-bottom: 1px dotted #808080;

}
.blubg{
    background-image: url('../images/bluebg.jpg');
    background-size: cover;
    color:#fff;
}
.blubg p{
    color:#dcfab5;
}
.blubg h4{
    font-family: 'Patua One', sans-serif
}
.blubg .btn-warning{
    font-family:'Patua One', sans-serif;
    color:#fff;
    font-size:25px;
    background: #f79926;
    border-radius:40px;
    padding:10px 40px;
    box-shadow: 3px 3px 4px #333;
}
.blubg .btn-warning:hover{
    background: #f38705;
    box-shadow: none;
}
.policy-links{
font-size:12px;
    color:#00b100;
}
.policy-links a{
    color:#00b100;
}

/*checkout styles */

.package-drop{
    margin-top:5em;
}
.package-big{
    margin-top:0;
}
.savings{
    background-color: #e8e8e8;
    color: #9c9c9c;
    font-size: 11px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 700;
}
.package-light h2{
    padding:.5em 0;
    margin:0;
}
.btn-package{

    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 15px 40px;
     text-decoration: none;
    text-transform: uppercase;
    background: #ff9800;
    background: -moz-linear-gradient(top,#ff9800 0%,#f79402 36%,#f49100 40%,#f29102 51%,#f08f00 53%,#e58900 89%,#e58900 100%);
     background: -webkit-linear-gradient(top,#ff9800 0%,#f79402 36%,#f49100 40%,#f29102 51%,#f08f00 53%,#e58900 89%,#e58900 100%);
    background: linear-gradient(to bottom,#ff9800 0%,#f79402 36%,#f49100 40%,#f29102 51%,#f08f00 53%,#e58900 89%,#e58900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9800',endColorstr='#e58900',GradientType=0 );
}
ul.product-info li {

    color: #bfbfbf;
    font-family: 'Lato', sans-serif;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    padding:5px 0;
    margin:0;

}
ul.product-info b{
    color:#000;
}
.list-price {

    color: #a2a2a2;
    float: left;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 700;
}
.final-price {

    color: #000;
    float: left;
    font-size: 48px;
    line-height: 54px;
    font-weight: 700;
    margin: 15px 0 45px;
    width: 100%;
    font-family:'Lato', sans-serif;

}
.final-price sub {

    bottom: 0;
    font-size: 32px;

}
.final-price sub{
    font-size:15px;
    color:#ccc;
    bottom:0;
}
.checkout{
    border:1px solid #ccc;
    padding:0;
    background: #fff;
    border-radius:3px;
}
.form-area .form-tabs ul {
}
.form-area .form-tabs ul li {
 width:50%;
 float:left;
 padding:15px;
 position:relative;
 padding-left:45px;
 list-style:none
}
.form-area .form-tabs ul li.active-tab:after {
}
.form-area .form-tabs ul li span.count {
 font-size:21px;
 font-weight:700;
 left:20px;
 top:18px;
 position:absolute
}
.form-area .form-tabs ul li.active-tab span.count {
}
.form-tabs .form-tab-title,.form-tabs .form-tab-subtitle {
 display:block
}
.form-area .form-tabs-content {
 padding:20px
}
.form-area .form-tabs-content .form-tab-content-title {
 font-size:12px;
 font-weight:700;
 text-transform:uppercase;
 letter-spacing:1px;
 color:#898989;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 align-items:center;
 margin-bottom:15px
}
.form-area .form-tabs-content .form-tab-content-title span {
 white-space:nowrap;
 padding-right:10px
}
.form-area .form-tabs-content .form-tab-content-title .line {
 height:1px;
 background:#ddd;
 width:100%
}
.form-tabs .form-tab-title {
 font-size:14px;
 font-weight:700;
 text-transform:uppercase;
 letter-spacing:1px;
 color:#00b100
}
.form-tabs .form-tab-subtitle {
 font-size:13px;
 color:#aaa;
 margin-top:2px
}
.order2Step25, .order2Step75 {

    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .5s ease;

}
.order2StepProgress {

    height: 3px;
    width: 100%;
    background-color: #ff9800;
    clear: left;
    position: relative;

}
.order2Step25:before,.order2Step75:before {
 content:"\f0d8";
 color:#ff9800;
 position:absolute;
 font-size:32px;
 top:-20px;
 left:25%;
 transition:all .5s ease
}
.order2Step75:before {
 left:75%
}
.cart h5{
    font-family: 'Lato', sans-serif;
}
.cart {font-family:'Lato', sans-serif;}
.strong{font-weight:bold;}
.cart p{
    font-size:12px;font-weight:normal;
        margin-top;10px;
}
.form-tab-content-title {

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #898989;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}
.form-tab-content-title .line {

    height: 1px;
    background: #ddd;
    width: 100%;

}
.emphasis2{
    color:#ff0000;
    font-weight:bold;
}
.no-bullet{
    list-style-type: none;
    text-align: center;
    margin: 0 !important;
    padding: 0!important;
}
.no-bullet li{
    display: inline-block;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
}


@media (max-width: 575.98px) { 

}


@media (max-width: 767.98px) {
    .model{
        background: none;
    }
    .mobism{
        max-width:50%;
    }
    .package-drop{
    margin-top:.5em;
    }
    .package-big{
    margin-top:1em;
    }
    .header h1{
    font-family:'Patua One';
    font-size:3em;
    text-align: center;
    color:#000;
}
    .header h3{
    font-family:'Patua One', sans-serif;
    color:#01aa01;
    font-size:1em;
    padding:.5em 0;
}
}


@media (max-width: 991.98px) {

}


@media (max-width: 1199.98px) {

}
